.sudoku-container {
  text-align: center;
  margin-top: 20px;
}

.sudoku-grid {
  /* display: grid; */
  grid-template-columns: repeat(9, 40px);
  gap: 2px;
  margin: 20px auto;
  width: 360px;
}

.sudoku-row {
  display: flex;
}

.sudoku-cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.sudoku-cell:focus {
  outline: 2px solid #00f;
}
.sudoku-cell.prefilled {
  background-color: #d3d3d3; /* Gray background for original cells */
  font-weight: bold; /* Make the original numbers bold */
}

.sudoku-cell.invalid {
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
